[submodule "trezor-firmware"]
	path = trezor-firmware
	url = https://github.com/trezor/trezor-firmware.git
[submodule "coldcard-firmware"]
	path = coldcard-firmware
	url = https://github.com/Coldcard/firmware.git
[submodule "cypherockX1-firmware"]
	path = cypherockX1-firmware
	url = https://github.com/Cypherock/x1_wallet_firmware.git
[submodule "jade-firmware"]
	path = jade-firmware
	url = https://github.com/Blockstream/Jade.git
[submodule "keepkey-firmware"]
	path = keepkey-firmware
	url = https://github.com/keepkey/keepkey-firmware.git
[submodule "keystone3-firmware"]
	path = keystone3-firmware
	url = https://github.com/KeystoneHQ/keystone3-firmware.git
